.main{
    border: 1px solid black;
    width: 50vw;
    height: 50vw;
    
}
body{

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
    
}
.buttons{
    display: flex;
    width: 50vw;
    justify-content:space-between;
    flex: auto;
}
.squareDiv{
    display: flex;
    font-size: 26px;
    align-items: last baseline;
    gap: 8px;
}
#squares{
    height: 20px;
    width: 90px;
}
button{
    height: fit-content;
    font-size: 26px;
    align-self: center;
}
.reset{
    margin-left: 50px;
    background-color: #f44336;
}
.main{
    display: flex;
    flex: auto;
    flex-wrap: wrap;

}
.main div{
    width: 100%;
    
    
    
}
